
.hero {
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/main/hero-bg.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #2f303a;
  border: 1px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  & .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 200px;
  padding-bottom: 200px;
}
}

.hero__header {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.363;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  width: 655px;
  margin-bottom: 30px;
  text-align: center;
}

.hero__modal-btn {
  padding: 10px 42px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.870;
  cursor: pointer;
}